# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d
*.LinkFileList

# CocoaPods / SPM
Pods/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Swift Package Manager
.swiftpm/

# Claude Code
.claude/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
